.footer {
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.footer img {
  margin: 10px;
  height: 20px;
  width: 20px;
}
