<div class="container center-align">
  <form>
    <div>
      <label>BRAND</label>
      <input type="text" />

      <label>PRODUCT</label>
      <input type="text" />

      <label>QUANTITY</label>
      <input type="text" />

      <div class="file-field input-field">
        <div id="btn" class="btn">
          <span>File</span>
          <input type="file" />
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" />
        </div>
      </div>
    </div>
    <button id="btn" class="btn-small">CLEAR</button>
    <button id="btn" class="btn-small" type="submit">SAVE</button>
  </form>
</div>
