<div class="container center-align">
  <br />
  <button id="btn" class="btn-small" routerLink="/add">ADD</button>
</div>

<div class="container">
  <table class="centered">
    <thead>
      <tr>
        <th>CODE</th>
        <th>BRAND</th>
        <th>PRODUCT</th>
        <th>QUANTITY</th>
        <th>OPTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>100</td>
        <td>Brand 1</td>
        <td>Product 1</td>
        <td>100</td>
        <td>
          <button id="btn" class="btn-small">STOCK</button>
          <button id="btn" class="btn-small">EDIT</button>
          <button id="btn" class="btn-small" (click)="this.onOpenModal()">
            DELETE
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-modal
  [show]="modal.show"
  [content]="modal"
  (closeEvent)="onCloseModal()"
></app-modal>
